@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: black;
  --foreground: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  font-size: 67%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .color-base {
    color: blue;
  }
}
